absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1637088766493/work
aiohttp @ file:///tmp/build/80754af9/aiohttp_1646788240124/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
antlr4-python3-runtime==4.8
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
asynctest==0.13.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
blessings==1.7
blinker==1.4
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2022.5.18.1
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer==2.0.12
click @ file:///tmp/build/80754af9/click_1646056591685/work
cryptography @ file:///tmp/build/80754af9/cryptography_1652083456434/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython==0.29.24
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1636043256745/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
easydict==1.9
einops==0.4.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
fire==0.4.0
frozenlist @ file:///tmp/build/80754af9/frozenlist_1637767116045/work
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib==0.4.5
gpustat==0.6.0
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1648220671878/work
h5py==3.3.0
hydra-core==1.1.1
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imageio==2.9.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1648728291958/work
importlib-resources==5.4.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1648477482173/work/dist/ipykernel-6.10.0-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1645888813068/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1637175076767/work
joblib==1.0.1
json-tricks==3.15.5
jsonschema==4.4.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1642858610849/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1645024288521/work
kaleido==0.2.1
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1648854392523/work
llvmlite==0.37.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1637220118004/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-base_1594091695977/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
multidict @ file:///opt/conda/conda-bld/multidict_1640703752579/work
nbformat==5.2.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
networkx==2.6.2
numba==0.54.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634106693478/work
nvidia-ml-py3==7.352.0
oauthlib==3.2.0
omegaconf==2.1.1
pandas==1.3.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
path==16.2.0
path.py==12.5.0
patsy==0.5.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.0.1
plotly==5.1.0
plotly-express==0.4.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1644497866770/work
protobuf==3.20.0rc2
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1640887121529/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pygame==2.0.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
PyJWT==1.7.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pyrsistent==0.18.1
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2022.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1635877395563/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.18.2
scikit-learn==0.24.2
scipy @ file:///tmp/build/80754af9/scipy_1618852618548/work
Shapely==1.7.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
statsmodels==0.12.2
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.4
termcolor==1.1.0
thop==0.0.31.post2005241907
threadpoolctl==2.2.0
tifffile==2021.8.8
torch==1.9.0
torch-tb-profiler==0.2.1
torchaudio==0.9.0a0+33b2469
torchsummary==1.5.1
torchvision==0.10.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1635819587639/work
tqdm==4.62.1
tqdm-logger==1.0.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1650639997961/work
warmup-scheduler @ git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git@6b5e8953a80aef5b324104dc0c2e9b8c34d622bd
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1648847766614/work
yacs==0.1.8
yarl @ file:///tmp/build/80754af9/yarl_1606939952652/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
